.mechanic-form {
  padding: 10px;
  display: flex;
  flex-flow: column;
  > * {
    flex: 1 1 auto;
    margin-right: 8px
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.34375em;
  }
}

button {
  margin-right: 8px
}
