<div class="mechanic-form">
  <mat-form-field appearance="fill">
    <mat-label>Start</mat-label>
    <input matInput placeholder="0" type="number">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>End</mat-label>
    <input matInput placeholder="0" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="0" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Damage Type</mat-label>
    <input matInput placeholder="0" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Damage Actor</mat-label>
    <input matInput placeholder="0" type="number">
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary">Add</button>
  </div>
</div>
